#panel {
    -fx-background-image: url("img/fondo.jpg");
    -fx-background-repeat: round;
}

#panelInterno {
    -fx-background-color: white;
}

#boton {
    -fx-background-color: #30a8d2;
    -fx-font-size: 22px;
    -fx-background-radius: 20px;
    -fx-background-insets: 0;
    -fx-border-color: #64b5f6;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-border-style: solid;
}

#boton:hover {
    -fx-effect:  innershadow(three-pass-box, #ffffff, 5 , 0.8, 0, 0);
}

#botonOpciones {
    -fx-font-size: 22px;
}